<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTSProjectLibrary.Properties.Settings.PTSProject2ConnectionString"
            connectionString="Data Source=MUIGA\SQLEXPRESS;Initial Catalog=PTSProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>